/* personal-info.css */

/* Increase width and add gap between input boxes */

.form-control {
    width: 100%;
    margin-bottom: 8px;
    box-shadow: 0 0 0.2rem rgba(73, 83, 93, 0.25);
  }
  
  /* Add user-interactive box shadow on input focus */
  .form-control:focus {
    border-color: #80bdff;

  }
  
  /* Add hover effect with smooth transition */
  .form-control:hover {
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
  }
  
  /* Arrange "About" and "Address" inputs in the last row */
  .form-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .form-row .col-md-6 {
    flex-basis: 100%;
    margin-bottom: 10px;
  }
  